.plate {
    border: 1px solid black;
    height: 20vw;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .x {
        background: blue !important;
    }
    .o {
        background: red !important;
    }
    p {
        font-size: 20vw;
        font-weight: bold;
    }
}